body {
  height: 100%;
}

h4 {
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

.movie-detail {
  margin: 100px 200px;
  padding: 55px;
  background-color: white;
}

@media screen and (max-width: 1090px) {
  .movie-detail {
    margin: 10px 20px;
    padding: 2%;
  }

  .detail-runtime,
  .detail-genres {
    display: block;
  }

  .detail-title {
    font-size: x-large;
    font-weight: 700;
  }

  .rating-value {
    font-size: large;
  }

  .detail-rating {
    margin: -9px 0px;
  }

  .detail-runtime .label,
  .detail-description .label {
    margin-top: 15px;
  }

  p {
    font-size: small;
  }
}
